@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-purple-primary: #6753a0;
  --brand-purple-secondary: #9b51e0;
  --brand-purple-tertiary: #bb6bd9;
  --brand-orange-primary: #f15a2e;
  --brand-orange-secondary: #f2994a;
  --brand-off-white: #e5e1d3;
  --brand-yellow: #f2c94c;
  --brand-green-primary: #89caa9;
  --brand-green-secondary: #27ae60;
  --brand-blue-primary: #2f80ed;
  --brand-blue-secondary: #56ccf2;
  --brand-black: #333333;
  --brand-red: #ed5757;

  --brand-background: #f3f3f3;
}

@font-face {
  font-family: 'Newake';
  src: url('/fonts/NewakeFont.otf');
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('/fonts/CenturyGothic.ttf');
}

@layer components {
  .br500 {
    @apply border border-red-500;
  }
}
