.budget-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url('images/background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.budget-calculator {
  max-width: 600px;
  width: 90%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.budget-calculator h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.budget-calculator h2 {
  font-size: 20px;
  color: #007bff;
  margin: 10px 0;
}

.budget-calculator input[type='number'],
.budget-calculator input[type='text'] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 2px solid #007bff;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease-in-out;
}

.budget-calculator input[type='number']:hover,
.budget-calculator input[type='text']:hover {
  background-color: #fff;
  border-color: #0056b3;
}

.budget-calculator input[type='number']:focus,
.budget-calculator input[type='text']:focus {
  outline: none;
  background-color: #fff;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
}

.budget-calculator button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s,
    box-shadow 0.3s;
}

.budget-calculator button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.budget-calculator button:focus {
  outline: none;
}
